@using Html.Models
@model Class1
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
Cedula:@Html.DisplayFor(m => m.cedula)
Nombre:@Html.DisplayFor(m => m.nombre)
Apellido:@Html.DisplayFor(m => m.apellido)
Edad:@Html.DisplayFor(m => m.edad)
Correo:@Html.DisplayFor(m => m.correo)
Genero:@Html.DisplayFor(m => m.genero)
Estatud:@Html.DisplayFor(m => m.estado)
Hobby:@Html.DisplayFor(m => m.hobbys)